# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: medinaorg
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: medinaorg
service: medinaConsultancy-api

provider:
  name: aws
  runtime: provided.al2
  architecture: x86_64
  region: us-east-2
  stage: ${opt:stage, 'dev'}
  environment:
    GOOGLE_PLACES_API_KEY: ${env:GOOGLE_PLACES_API_KEY}

functions:
  api:
    handler: bootstrap
    events:
      - httpApi:
          path: /consultancy/search
          method: POST

package:
  patterns:
    - '!./**'
    - bootstrap