# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: medinaorg
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: medinaorg
service: medinaConsultancy-api

provider:
  name: aws
  runtime: provided.al2
  architecture: x86_64
  region: us-east-2
  stage: ${opt:stage, 'dev'}
  environment:
    GOOGLE_PLACES_API_KEY: ${env:GOOGLE_PLACES_API_KEY}
    DATABASE_URL: ${env:DATABASE_URL}
    JWT_SECRET: ${env:JWT_SECRET}
    MERCADO_PAGO_ACCESS_TOKEN: ${env:MERCADO_PAGO_ACCESS_TOKEN}
    SUPABASE_URL: ${env:SUPABASE_URL}
    SUPABASE_SERVICE_KEY: ${env:SUPABASE_SERVICE_KEY}
    SUPABASE_BUCKET: ${env:SUPABASE_BUCKET}
  httpApi:
    cors:
      allowedOrigins:
        - "https://medina-consultancy-prod.vercel.app"
        - "http://localhost:5137"
      allowedHeaders:
        - Content-Type
        - Authorization
        - Accept
      allowedMethods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      allowCredentials: true

functions:
  api:
    handler: bootstrap
    timeout: 29
    memorySize: 1024
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY

package:
  patterns:
    - "!./**"
    - bootstrap
